.summary-item{
  margin-bottom: 21px;
}

.summary-property{
  font-size: 10px;
  color: #bbbbbb;
}

.summary-item-text{
  margin-bottom: 5px;
  max-height: 100px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}