.summary-item{
  margin-bottom: 21px;
  position: relative;
  span{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 60px;
    display: none;
  }
}

.summary-item:hover{
  background-color: #c0c0c0;
}
.summary-item:hover span{
  display: table-cell;
  button{
    margin-right: 50px;
  }
}

.summary-property{
  font-size: 10px;
  color: #bbbbbb;
}

.summary-item-text{
  margin-bottom: 5px;
  max-height: 100px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}